/*general*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

.flex {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
  width: 1200px;
  margin: 0px auto;
}

h2 {
  margin: 15px;
}

h4 {
  margin: 10px;
}
h5 {
  margin: 10px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  padding-left: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: underline;
  color: seashell;
  padding: 5px;
}

/* mission */
#mission {
  align-items: center;
  margin-bottom: 40px;
}

.part1 {
  height: 700px;
  width: 1200px;
  background-image: URL("../images/img-mission-background.jpg");
}

.statement {
  width: 1200px;
  background-color: black;
}


/* featured */
#featured {
  width: 1000px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.featured-title {
  flex-direction: column;
  margin-bottom: 20px;
}

.menu {
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7px;
}

.menu-item img{
  height: 200px;
  width: 300px;
}


/* locations */
#locations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  background-image: URL("../images/img-locations-background.jpg");
}

.boxes {
  display: flex;
  justify-content: center;
}

.loc-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  background-color: black;
}

/* footer */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom; 30px;
}

.copy {
  text-align: left;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}